{% extends 'base.html' %}

{% block body %}
<div class="row">
    <form method="post">
        {% include 'passport/passport_form.html' %}
        <div class="col-xs-10 col-xs-offset-2">
            <button class="btn btn-primary">Aktualisieren</button>
            <a href="{{ url_for('passport.passport', pass_id=pass_id) }}" class="btn btn-primary">Abbrechen</a>
        </div>
    </form>
</div>
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='registry.css') }}">
{% endblock %}
