{% from "macros.html" import field_row, field_errors %}

{{ form.csrf_token() }}
{{ form.pass_id() }}

<div class="check row">
    <div class="col-xs-2">
        <label for="check">Ausweis <span class="pass_id">{{ pass_id }}</span>:</label>
    </div>
    <div class="value col-xs-10">
        {{ form.check(autofocus=True, autocomplete='off', placeholder='hier die Check-ID eintragen', class='form-control') }}
        {{ field_errors(form.check) }}
    </div>
</div>

<div class="surname row">
    <div class="col-xs-2">
        <label for="surname">Vorname:</label>
    </div>
    <div class="value col-xs-10">
        {{ form.surname(class='form-control') }}
        {{ field_errors(form.surname) }}
    </div>
</div>
<div class="name row">
    <div class="col-xs-2">
        <label for="name">Name:</label>
    </div>
    <div class="col-xs-10">
        {{ form.name(class='form-control') }}
        {{ field_errors(form.name) }}
    </div>
</div>

<div class="address row">
    <div class="col-xs-2">
        <label for="address">Adresse:</label>
    </div>
    <div class="col-xs-10">
        {{ form.address(class='form-control') }}
        {{ field_errors(form.address) }}
    </div>
</div>

<div class="phone row">
    <div class="col-xs-2">
        <label for="phone">Telefon:</label>
    </div>
    <div class="col-xs-10">
        {{ form.phone(class='form-control') }}
        {{ field_errors(form.phone) }}
    </div>
</div>

<div class="email row">
    <div class="col-xs-2">
        <label for="email">Email:</label>
    </div>
    <div class="col-xs-10">
        {{ form.email(class='form-control') }}
        {{ field_errors(form.email) }}
    </div>
</div>

<div class="notes row">
    <div class="col-xs-2">
        <label for="notes">Bemerkungen:</label>
    </div>
    <div class="col-xs-10">
        {{ form.notes(class='form-control') }}
        {{ field_errors(form.notes) }}
        <p><em>Allergien bitte auf der Innenseite des Ausweises eintragen!</em></p>
    </div>
</div>

{% for flag in form.flags %}
<div class="flags flag_{{ flag.key }} row">
    <div class="col-xs-2">
        {{ flag.label }}:
    </div>
    <div class="value col-xs-10">
        {{ flag }}
        {{ field_errors(flag) }}
    </div>
</div>
{% endfor %}
