{% extends 'base.html' %}
{% from "macros.html" import field_errors %}

{% block body %}
<form method="post">
    {{ form.csrf_token() }}
    {{ form.pass_id() }}

    <div class="check">
        <label for="check">{{ passport.pass_id }}{{ form.check(autofocus=True, autocomplete='off', placeholder='Check-ID') }}</label>
        {{ field_errors(form.check) }}
    </div>

    <div class="flags btn-group" data-toggle="buttons">
    {% for flag in form.flags %}
        <label class="flag-{{ flag.id }} btn btn-primary" for="{{ flag.id }}">
            {{ flag }} {{ flag.label.text }}
        </label>
    {% endfor %}
    </div>

    {% if passport.checked_in %}
    <button name="checkout">Checkout</button>
    <button name="checkin">Checkin</button>
    {% else %}
    <button name="checkin">Checkin</button>
    <button name="checkout">Checkout</button>
    {% endif %}
</form>

<div class="edit">
    <a href="{{ url_for('desk.edit', pass_id=passport.pass_id) }}" class="btn">Bearbeiten</a>
</div>

<div class="visits">
    <ul>
    {% for visit in passport.visits %}
        <li>{% if visit.check_in %}{{ visit.check_in.strftime('%a, %H:%M') }}{% else %}<i class="fa fa-bolt"></i>{% endif %}{% if visit.check_out %} – {{ visit.check_out.strftime('%a, %H:%M') }}{% endif %}</li>
    {% endfor %}
    </ul>
</div>
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='registry.css') }}">
{% endblock %}
