{% extends 'base.html' %}
{% from "macros.html" import field_row, field_errors %}


{% if action == 'check_in' %}
    {% set title = 'Gruppen-Checkin' %}
{% else %}
    {% set title = 'Gruppen-Checkout' %}
{% endif %}

{% block body %}
<form method="post" class="group-transaction">
    {{ form.csrf_token() }}

    <div data-toggle="buttons" class="passes">
    {% for passport in form.passports %}
        {{ passport }}
        {{ field_errors(passport) }}
    {% endfor %}
    </div>

    <div class="actions row">
        <div class="col-xs-10 col-xs-offset-2">
            <div class="btn-group">
                <button class="btn btn-primary btn-lg">Speichern</button>
                <a class="btn btn-default btn-lg" href="{{ url_for('group.index') }}">Abbrechen</a>
            </div>
        </div>
    </div>
</from>
{% endblock %}
