[group:passgen]
programs=passgen_web,passgen_worker


[program:passgen_web]
directory = {{ passgen_install_dir }}
command = {{ passgen_virtualenv_dir}}/bin/uwsgi --master --ini {{ passgen_uwsgi_file }}

priority = 1500
startsecs = 1
stopsignal = INT
exitcodes = 30

stdout_logfile = {{ passgen_log_dir }}/uwsgi.stdout.log
stderr_logfile = {{ passgen_log_dir }}/uwsgi.stderr.log


[program:passgen_worker]
directory = {{ passgen_install_dir }}
command = {{ passgen_virtualenv_dir}}/bin/passgen --config=passgen.config.production worker
user = {{ passgen_user }}
environment = HOME=/home/{{ passgen_user }},PYTHONPATH={{ passgen_install_dir }}/code

stdout_logfile = /srv/passgen/logs/worker.stdout.log
stderr_logfile = /srv/passgen/logs/worker.stderr.log

startsecs = 1
stopwaitsecs = 120
